@font-face {
  font-family: "IBM Plex Mono";
  src: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap";
}

@font-face {
  font-family: "IBM Plex Sans";
  src: "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap";
}

@font-face {
  font-family: "Mak";
  src: url(./files/MAK.otf);
}

@font-face {
  font-family: "Mattone";
  src: url(./files/Mattone.otf);
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

$blue: #4400ff;
$light-pink: #ffb2d1;
$hot-pink: #ff4f8e;
$off-white: #f7eeed;
$black: #32312f;

$text-font: "IBM Plex Mono", monospace;
$text-heading: "Mak";
$text-other: "Mattone";

$large-font-size: 5rem;

@mixin h1($fontColor) {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: left;
  color: $fontColor;
}

@mixin biggerParagraph {
  font-family: $text-font;
  font-size: 1.5rem;
  font-weight: lighter;
}

@mixin buttonCta($color) {
  width: max-content;
  position: absolute;
  bottom: 2%;
  cursor: pointer;
  background-color: transparent;
  font-family: $text-font;
  border: 2px solid $color;
  padding: 0.5%;
  align-self: center;
  font-size: 1rem;
  color: $color;
}

@mixin buttonCtaArrow {
  width: max-content;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  background-color: transparent;
  font-family: $text-font;
  padding: 0.5%;
  align-self: center;
  font-size: 1rem;
  bottom: 10%;
  right: 50%;
  transform: translateX(-50%);
  border: none;
}

@mixin animatedArrow($url) {
  .ca3-scroll-down-arrow {
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(-90deg);
  }

  .ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    color: $hot-pink;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes ca3_fade_move_down {
    0% {
      -webkit-transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
  }
  @-moz-keyframes ca3_fade_move_down {
    0% {
      -moz-transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 20px);
      opacity: 0;
    }
  }
  @keyframes ca3_fade_move_down {
    0% {
      transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 20px);
      opacity: 0;
    }
  }
}

@mixin paragraph {
  font-size: 1rem;
  font-family: $text-font;
  color: $blue;
  text-align: left;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

@mixin section($backgroundColor) {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  height: 100vh;
}

@mixin centerContentTop {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin slidingText($backgroundColor, $textColor, $borderColor) {
  position: sticky;
  top: 3.65rem;
  display: flex;
  align-items: center;
  z-index: 11111111;
  background-color: $backgroundColor;
  height: 3rem;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  & h1 {
    position: absolute;
    padding-left: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    animation: stream 10s linear infinite;
    font-family: $text-heading;
    font-size: 2rem;
    color: $textColor;
  }
}

@mixin contactsSection {
  @include section($blue);
  border-top: 1px solid $hot-pink;

  .contacts-txt {
    position: relative;
    top: 50%;
    padding: 0 5%;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);

    h1#sub-text {
      @include h1($light-pink);
      font-family: $text-other;
      font-size: 2.5rem;
      text-transform: uppercase;
      padding: 2% 0;

      a {
        color: $hot-pink;
      }

      span {
        display: inherit;

        a {
          color: $hot-pink;
          font-weight: lighter;
        }
      }
    }
  }

  .copyright {
    height: max-content;
    bottom: 0;
    position: absolute;
    width: 100%;

    p {
      font-family: $text-font;
      color: $off-white;
      font-size: 0.8rem;
      text-align: center;

      a {
        color: $off-white;
      }
    }
  }
}

@mixin contactsSectionMobile {
  @include section($blue);
  border-top: 1px solid $hot-pink;

  .contacts-txt {
    position: relative;
    top: 50%;
    padding: 0 5%;

    h1#sub-text {
      @include h1($light-pink);
      font-family: $text-other;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 2% 0;

      a {
        color: $hot-pink;
      }

      span {
        display: inherit;

        a {
          color: $hot-pink;
          font-weight: lighter;
        }
      }
    }
  }

  .copyright {
    height: max-content;
    bottom: 0;
    position: absolute;
    width: 100%;

    p {
      font-family: $text-font;
      color: $off-white;
      font-size: 0.8rem;
      text-align: center;

      a {
        color: $off-white;
      }
    }
  }
}

@mixin underlinedLink($color) {
  .underline {
    display: inline;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: $color;
    font-family: $text-other;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: $color;
    height: 1px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes stream {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 769px) {
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: $blue;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      scroll-behavior: smooth;
      scroll-snap-type: mandatory;
      display: inline;

      #burger-menu-container,
      .burger-menu-items {
        display: none;
        padding-left: 30px;
      }
      .landing_page {
        width: 100%;
        height: 100vh;
        position: absolute;
        padding: 0;

        ul.text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          list-style: none;
          border-bottom: 0;
          width: 100%;
          background-color: $blue;

          & li {
            display: inline-block;
            font-weight: 350;
            font-size: 6rem;
            color: $hot-pink;
            text-transform: uppercase;
            font-family: $text-font;
            transition: all 0.8s ease-in-out;
            max-width: 2em;
          }

          .text.hidden li.ghost {
            opacity: 0;
            max-width: 0;
            position: sticky;
          }

          .text.hidden li.spaced {
            padding-left: 0;
            position: sticky;
          }

          .text li.spaced {
            padding-left: 0.5em;
            position: sticky;
          }
        }

        .main {
          position: relative;
          height: 100vh;
          width: 100vw;

          .landing-page-text {
            height: max-content;
            position: sticky;
            top: 0;
            width: 100%;
            text-align: center;

            h1 {
              color: $light-pink;
              font-size: 3rem;
              font-family: $text-heading;
              background-color: $blue;
              text-align: center;
            }
          }

          .sticky {
            position: fixed;
            z-index: 111111111;
            width: 100%;
            text-align: center;
          }

          .landing-page-description {
            position: relative;
            top: 20%;
            padding: 0 5%;

            p {
              color: $hot-pink;
              font-family: $text-other;
              font-weight: lighter;
              font-size: 3rem;
              text-align: left;
              position: relative;
              top: 20%;

              span {
                font-style: italic;
                padding: 0 1%;
                font-size: 3.2rem;
              }
            }

            a#button {
              display: none;
            }
          }

          .scrolldown {
            width: 2px;
            height: 60px;
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            overflow: hidden;
            background: linear-gradient(
              to bottom,
              $hot-pink 50%,
              rgba(255, 255, 255, 0) 50%
            );
            background-position: 0 -60px;
            background-size: 100% 200%;
            animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards
              infinite;
          }
          @keyframes scrolldown {
            0% {
              background-position: 0 -60px;
            }
            75% {
              background-position: 0 0;
            }
            100% {
              background-position: 0 60px;
            }
          }

          button {
            border: none;
            background-color: transparent;
            font-family: $text-other;
            font-size: 1.5rem;
            right: 5%;
            position: absolute;
            bottom: 10%;

            .underline {
              display: inline;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              color: $hot-pink;
              font-family: $text-font;
            }
            .underline:after {
              content: "";
              position: absolute;
              z-index: -1;
              right: 0;
              width: 0;
              bottom: -5px;
              background: $hot-pink;
              height: 1px;
              transition-property: width;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
            }
            .underline:hover:after,
            .underline:focus:after,
            .underline:active:after {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }
      }

      section#web_development {
        display: none;
      }

      section#about {
        @include section($off-white);

        .stream_text {
          @include slidingText($blue, $off-white, $off-white);
        }

        .section-about-content {
          display: grid;
          grid-template-columns: 50% 50%;

          .img-wrapper {
            width: 60%;
            object-fit: cover;
            overflow: hidden;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            img {
              width: 100%;
              height: auto;
              box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            }
          }

          .text-wrapper {
            width: 100%;
            padding: 0 2%;
            p {
              color: $black !important;
              @include paragraph;
              @include centerContentTop;
              padding: 0 5%;

              @include underlinedLink($hot-pink);
            }

            a#button {
              display: none;
            }
          }
        }
      }

      section#projects-home {
        @include section($hot-pink);

        .stream_text {
          @include slidingText($blue, $hot-pink, $hot-pink);
        }

        .projects-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 5% 1%;

          .project {
            position: relative;
            display: grid;
            grid-template-rows: 60% auto auto;
            padding: 2%;
            div {
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              img#design {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            h1 {
              @include h1($off-white);
              font-family: $text-other;
              font-size: 2rem;
              padding: 2% 0;
            }

            p {
              font-family: $text-font;
              color: $black;
              font-size: 1rem;
              text-align: left;
              margin-bottom: 2%;
            }

            a#button {
              text-align: end;
              justify-self: flex-end;
              color: $blue;
              font-size: 1.2rem;
              border: 1px solid $blue;
              width: max-content;
              font-family: $text-other;
              text-transform: uppercase;
              text-decoration: none;
              padding: 1%;
              display: flex;
              align-self: end;
              cursor: pointer;
              margin-right: 5%;

              &:hover {
                background-color: $hot-pink;
                color: $light-pink;
                border: 1px solid $hot-pink;
              }
            }
          }
        }
        @include underlinedLink($light-pink);
      }

      section#journal {
        @include section($off-white);

        .stream_text {
          @include slidingText($blue, $off-white, $off-white);
        }

        .medium-widget-article__image {
          img {
            position: relative;
          }
        }

        .medium-widget-article__content {
          .medium-widget-article__title {
            color: $blue;
            text-align: left;
            display: block;
            font-size: 1.5rem;
            font-family: $text-other;
          }
          .medium-widget-article__description {
            font-family: $text-font;
            color: $black;
            text-align: start;
          }
        }
      }

      section#contacts {
        div#home-contacts {
          height: calc(80vh - 3rem);
        }

        @include contactsSection;
        .stream_text {
          @include slidingText($blue, $hot-pink, $hot-pink);
        }
      }
    }

    .projects-container {
      .header #projects {
        position: sticky;
      }
    }

    .single-project-container {
      #single-project {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 1111111;
        height: 3.7rem;
        position: relative;

        a {
          text-decoration: none;
          color: $off-white;
          font-size: 3rem;
          color: $off-white;
          font-family: $text-heading;
          z-index: 11111111;
        }

        #burger-menu-container {
          display: inline-block;
          cursor: pointer;
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          z-index: 11111111111;

          .bar1,
          .bar2,
          .bar3 {
            width: 35px;
            height: 1px;
            background-color: $blue;
            margin: 6px 0;
            transition: 0.4s;
          }
        }

        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-3px, 2px);
        }

        .change .bar2 {
          opacity: 0;
        }

        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }

        .burger-menu-items#homepage {
          display: none;
        }

        .burger-menu-items#homepage ul {
          margin: 0;
          padding: 0;
          top: 50%;
          position: relative;
          transform: translateY(-50%);
          list-style-type: none;
          li {
            padding: 1%;
            text-align: left;

            & :hover {
              color: $light-pink;
            }

            span {
              display: block;
              color: $light-pink;
              font-family: $text-heading;
              position: relative;
              text-align: left;
            }

            a {
              position: relative;
              display: inline;
              color: $blue;
              font-family: $text-other;
              text-transform: uppercase;
              font-weight: lighter;
              font-size: 5rem;
              line-height: 1;
            }
          }
        }
      }
    }

    .projects-container {
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: $light-pink;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $light-pink;
        z-index: 1111111;
        height: 3.7rem;
        position: relative;
        position: sticky;
        top: 0;

        a {
          text-decoration: none;
          color: $off-white;
          font-size: 3rem;
          color: $off-white;
          font-family: $text-heading;
          z-index: 11111111;
        }

        #burger-menu-container {
          display: inline-block;
          cursor: pointer;
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          z-index: 11111111111;

          .bar1,
          .bar2,
          .bar3 {
            width: 35px;
            height: 1px;
            background-color: $blue;
            margin: 6px 0;
            transition: 0.4s;
          }
        }

        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-3px, 2px);
        }

        .change .bar2 {
          opacity: 0;
        }

        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }

        .burger-menu-items#homepage {
          display: none;
        }

        .burger-menu-items#homepage ul {
          margin: 0;
          padding: 0;
          top: 50%;
          position: relative;
          transform: translateY(-50%);
          list-style-type: none;
          li {
            padding: 1%;
            text-align: left;

            & :hover {
              color: $light-pink;
            }

            span {
              display: block;
              color: $light-pink;
              font-family: $text-heading;
              position: relative;
              text-align: left;
            }

            a {
              position: relative;
              display: inline;
              color: $blue;
              font-family: $text-other;
              text-transform: uppercase;
              font-weight: lighter;
              font-size: 5rem;
              line-height: 1;
            }
          }
        }
      }

      .mobile-static-text {
        display: none;
      }

      .stream_text {
        @include slidingText($blue, $hot-pink, $hot-pink);
        z-index: 111111;
      }

      h1 {
        color: #e9e2fb;
        font-size: 8rem;
        margin: 0;
        font-family: $text-font;
        float: right;
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;
        text-align: right;
        z-index: 11111;
      }

      h2 {
        position: absolute;
        left: 5%;
      }

      p {
        font-size: 1rem;
        color: #e9e2fb;
        margin-top: 0;
        text-align: right;
        padding-bottom: 5%;
      }

      .project {
        max-width: 1440px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 5% 0;
        position: relative;
        padding: 1%;
        height: max-content;
        display: grid;
        grid-template-columns: 50% auto;

        h1 {
          color: $off-white;
          opacity: 0.5;
          font-size: 15rem;
          font-family: $text-font;
          width: max-content;
          text-align: justify;
          position: absolute;
          transform: rotate(-90deg);
        }

        a {
          width: 100%;
          img {
            width: 80%;
            height: auto;
            z-index: 11112;
            margin-left: 12%;
            position: relative;
            object-fit: cover;
            float: right;
            max-width: 700px;
          }
        }

        .project-text {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          a {
            text-decoration: none;

            h3 {
              color: $blue;
              text-transform: capitalize;
              font-weight: lighter;
              font-size: 2rem;
              font-family: $text-other;
              text-align: right;
              margin: 0;
              position: relative;
              text-align: left;
              margin: 0 5%;
            }

            p {
              font-family: $text-font;
              color: $blue;
              font-size: 1rem;
              text-align: left;
              margin: 2% 5%;
              opacity: 0.8;
            }
          }

          a#button {
            color: $hot-pink;
            font-size: 1.2rem;
            border: 1px solid $hot-pink;
            width: max-content;
            font-family: $text-other;
            text-transform: uppercase;
            float: right;
            padding: 1%;
            display: flex;
            align-self: end;
            cursor: pointer;
            margin-right: 10%;

            &:hover {
              background-color: $hot-pink;
              color: $light-pink;
              border: 1px solid $hot-pink;
            }
          }
        }
      }

      section#contacts {
        @include contactsSection;
        height: calc(100vh - 3rem);
      }
    }

    .single-project-container {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #ffff;
        z-index: 1111111;
        height: 3.7rem;
        position: relative;

        a {
          text-decoration: none;
          color: $off-white;
          font-size: 3rem;
          color: $off-white;
          font-family: $text-heading;
          z-index: 11111111;
        }

        #burger-menu-container {
          display: inline-block;
          cursor: pointer;
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          z-index: 11111111111;

          .bar1,
          .bar2,
          .bar3 {
            width: 35px;
            height: 1px;
            background-color: $blue;
            margin: 6px 0;
            transition: 0.4s;
          }
        }

        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-3px, 2px);
        }

        .change .bar2 {
          opacity: 0;
        }

        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }

        .burger-menu-items#homepage {
          display: none;
        }

        .burger-menu-items#homepage ul {
          margin: 0;
          padding: 0;
          top: 50%;
          position: relative;
          transform: translateY(-50%);
          list-style-type: none;
          li {
            padding: 1%;
            text-align: left;

            & :hover {
              color: $light-pink;
            }

            span {
              display: block;
              color: $light-pink;
              font-family: $text-heading;
              position: relative;
              text-align: left;
            }

            a {
              position: relative;
              display: inline;
              color: $blue;
              font-family: $text-other;
              text-transform: uppercase;
              font-weight: lighter;
              font-size: 5rem;
              line-height: 1;
            }
          }
        }
      }
      //template for single project
      .template {
        background-color: #ffff;

        p {
          font-family: $text-font;
          color: $black;
          font-size: 1.25rem;
          width: 50%;
          position: relative;
          left: 25%;
          line-height: 30px;
          text-align: left;
        }

        .intro-text {
          padding: 5% 5%;
          height: 90vh;
          position: relative;

          h1 {
            font-family: $text-other;
            font-size: 3.5rem;
            color: $blue;
            text-align: left;
          }

          .subtitle {
            width: 70%;
            position: relative;
            margin: 5% 0;
            h3 {
              font-family: $text-other;
              font-size: 2.5rem;
              color: $blue;
              text-align: left;
              margin: 2% 0;
            }
          }

          .view-more {
            @include buttonCtaArrow;
            @include animatedArrow("./images/icons/arrowIcondown.png");
          }

          img {
            width: 100px;
            height: auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 10%;
          }
        }

        .intro-img {
          position: relative;
          background-color: $hot-pink;
          overflow: hidden;

          .img-wrapper {
            width: 80%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .overview {
          display: grid;
          grid-template-columns: 60% 40%;
          background-color: $light-pink;
          padding: 5% 0;

          .intro {
            margin: 0 10%;
            h5 {
              font-family: $text-other;
              color: $hot-pink;
              opacity: 0.5;
            }
            p {
              width: 90%;
              font-size: 1rem;
              left: 0;

              mark {
                background-color: $hot-pink;
                color: $off-white;
              }
            }
          }

          .specs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 5%;

            .single-spec {
              position: relative;
              width: 50%;

              h5 {
                font-family: $text-other;
                color: $hot-pink;
                opacity: 0.5;
              }

              p {
                width: 100%;
                font-size: 1rem;
                left: 0;
                padding-right: 5%;
              }

              a {
                font-family: $text-font;
                font-size: 1rem;
                text-decoration: underline;
                color: $black;
              }

              .tech-stack {
                display: flex;
                flex-direction: row;

                div {
                  width: 50px;
                  height: auto;
                  display: flex;
                  justify-content: center;
                  object-fit: fill;
                  margin: 0 2%;
                  img {
                    width: 50px;
                    height: auto;
                  }
                }
              }
            }
          }
        }

        .section {
          width: 50%;
          position: relative;
          left: 25%;
          background-color: #ffff;
          padding-top: 5%;

          h1 {
            font-family: $text-other;
            color: $hot-pink;
            opacity: 0.5;
            text-align: left;
            font-size: 2.5rem;
            line-height: 56px;
            font-weight: 400;
            padding: 2% 0;
          }

          p {
            width: 100%;
            font-size: 1rem;
            left: 0;
            padding: 2% 0;

            .underline {
              text-decoration: underline;
            }
          }

          .img-wrapper {
            width: 80%;
            margin: 5% 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            img {
              width: 100%;
              height: auto;
            }

            video {
              width: 100%;
              height: auto;
            }
          }

          ul {
            list-style-type: none;
            margin: 0 5%;
            padding-bottom: 10%;
            li {
              font-family: $text-font;
              font-size: 1rem;
              color: $black;
              margin: 1% 0;
              line-height: 30px;
              text-align: left;

              &::before {
                content: "> ";
              }

              .img-wrapper {
                width: 80%;
                margin: 5% 0;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          .section-img {
            position: relative;
            width: 100vw;
            background-color: $off-white;
            left: -50%;
            padding: 5% 0;
            margin-bottom: 2%;

            h1 {
              text-align: center;
              padding: 2% 0;
            }

            img {
              height: auto;
              width: 50%;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
            }

            a {
              text-decoration: none;
              margin: 0;

              p {
                color: $black;
                opacity: 0.8;
                text-align: center;
                font-size: 0.8rem;
                margin: 0;
                padding: 0;
              }
            }
          }

          .tech-stack {
            .frontend,
            .backend {
              padding: 5% 0;
              h3 {
                font-size: 1.25rem;
                text-decoration: underline;
                font-family: $text-font;
              }

              mark {
                background-color: $hot-pink;
                color: $off-white;
              }

              .tech-icons {
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: 100%;
                padding: 2% 0;

                img {
                  width: 50px;
                  height: auto;
                }
              }
            }
          }
        }

        .links {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          margin: 10% 0;

          .link-icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            margin-right: 2%;

            img {
              width: 100%;
              height: auto;
              opacity: 0.8;
            }
          }
        }
      }

      .breadcrumbs {
        text-align: center;

        p {
          font-family: $text-other;
          text-transform: lowercase;
          color: $black;
          font-size: 1rem;
          text-align: center;

          a {
            font-family: $text-other;
            text-transform: uppercase;
            color: $hot-pink;
            padding: 0 0.5%;
          }
        }
      }
      section#contacts-single-project {
        div#home-contacts {
          height: calc(80vh - 3rem);
        }

        @include contactsSection;
        .stream_text {
          @include slidingText($blue, $light-pink, $hot-pink);
          top: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: $blue;
    overflow: hidden;

    #burger-menu-container {
      display: inline-block;
      cursor: pointer;
      top: 5%;
      position: absolute;
      z-index: 11111111111;
      padding: 0 5%;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 1px;
        background-color: $light-pink;
        margin: 6px 0;
        transition: 0.4s;
      }
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-3px, 2px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }

    .burger-menu-items#homepage {
      display: none;
    }

    .burger-menu-items#homepage ul {
      margin: 0;
      padding: 0;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      list-style-type: none;
      li {
        padding: 1%;
        text-align: left;

        & :hover {
          color: $light-pink;
        }

        span {
          display: block;
          color: $light-pink;
          font-family: $text-heading;
          position: relative;
          text-align: left;
        }

        a {
          position: relative;
          display: inline;
          color: $blue;
          font-family: $text-other;
          text-transform: uppercase;
          font-weight: lighter;
          font-size: 3rem;
          line-height: 1;
          text-decoration: none;
        }
      }
    }

    .landing_page {
      position: relative;
      top: 20%;

      .main {
        padding: 0 5%;

        & > * {
          padding: 2% 0;
        }

        .landing-page-text {
          h1 {
            font-family: $text-other;
            color: $hot-pink;
          }
        }

        .landing-page-description {
          p {
            color: $hot-pink;
            font-family: $text-font;
          }
          a#button {
            font-family: $text-other;
            text-transform: uppercase;
            font-size: 1rem;
            color: $light-pink;
            text-decoration: none;
            padding-top: 10%;
            position: absolute;
            display: flex;
            text-align: right;
            float: right;
            right: 10%;
          }
        }

        button {
          display: none;
        }
      }
    }
  }

  .about-container {
    background-color: $light-pink;
    height: 100vh;
    width: 100vw;
    padding: 0 5%;
    padding-top: 20%;

    #burger-menu-container {
      display: inline-block;
      cursor: pointer;
      left: 5%;
      top: 5%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 11111111111;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 1px;
        background-color: $blue;
        margin: 6px 0;
        transition: 0.4s;
      }
    }

    .burger-menu-items {
      display: none;
    }

    .burger-menu-items#homepage ul {
      margin: 0;
      padding: 0;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      list-style-type: none;
      li {
        padding: 1%;
        text-align: left;

        & :hover {
          color: $light-pink;
        }

        span {
          display: block;
          color: $light-pink;
          font-family: $text-heading;
          position: relative;
          text-align: left;
        }

        a {
          position: relative;
          display: inline;
          color: $blue;
          font-family: $text-other;
          text-transform: uppercase;
          font-weight: lighter;
          font-size: 3rem;
          line-height: 1;
        }
      }
    }

    h1 {
      font-family: $text-other;
      color: $hot-pink;
      text-align: center;
      padding: 2% 0;
    }

    p {
      color: $blue;
      font-family: $text-font;
    }
  }

  .pages {
    display: none;
  }

  .projects-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $light-pink;
    padding-bottom: 5%;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: $light-pink;
      z-index: 1111111;
      height: 3.7rem;
      position: relative;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;

      a {
        display: none;
      }

      #burger-menu-container {
        display: inline-block;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 11111111111;

        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 1px;
          background-color: $blue;
          margin: 6px 0;
          transition: 0.4s;
        }
      }

      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-3px, 2px);
      }

      .change .bar2 {
        opacity: 0;
      }

      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

      .burger-menu-items#homepage {
        display: none;
      }

      .burger-menu-items#homepage ul {
        margin: 0;
        padding: 0;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        list-style-type: none;
        li {
          padding: 1%;
          text-align: left;

          & :hover {
            color: $light-pink;
          }

          span {
            display: block;
            color: $light-pink;
            font-family: $text-heading;
            position: relative;
            text-align: left;
          }

          a {
            position: relative;
            display: inline;
            color: $blue;
            font-family: $text-other;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 3rem;
            line-height: 1;
            text-decoration: none;
          }
        }
      }
    }

    .mobile-static-text {
      background-color: blue;
      padding: 1% 0;
      border-top: 1px solid $hot-pink;
      border-bottom: 1px solid $hot-pink;

      h1 {
        font-size: 2rem;
        font-family: $text-heading;
        color: $hot-pink;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .stream_text {
      display: none;
    }

    .project {
      width: 100%;
      margin: 3% 0;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 1%;

      h1 {
        display: none;
      }

      a {
        width: 100%;
        height: auto;
        text-decoration: none;

        img {
          width: 100%;
          height: auto;
          z-index: 11112;
          position: relative;
          object-fit: cover;
        }
      }

      .project-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1% 0;

        h3 {
          color: $blue;
          text-transform: capitalize;
          font-weight: lighter;
          font-size: 1.5rem;
          font-family: $text-other;
          margin: 0;
          position: relative;
          text-align: left;
          margin: 0 1%;
        }

        hr {
          display: none;
        }

        p {
          font-family: $text-font;
          color: $blue;
          font-size: 0.8rem;
          text-align: left;
          margin: 2% 0;
          color: $blue;
          opacity: 0.8;
        }

        a#button {
          color: $hot-pink;
          font-size: 1rem;

          border: none;
          background-color: transparent;
          justify-content: end;
          border: 1px solid $hot-pink;
          width: max-content;
          padding: 1%;
          margin: 0 1%;
          position: relative;
          display: flex;
          align-self: flex-end;
          font-family: $text-other;
          text-transform: uppercase;
        }
      }
    }

    section#contacts {
      display: none;
    }
  }

  .single-project-container {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #ffff;
      z-index: 1111111;
      height: 3.7rem;
      position: relative;

      #burger-menu-container {
        display: inline-block;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 11111111111;

        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 1px;
          background-color: $blue;
          margin: 6px 0;
          transition: 0.4s;
        }
      }

      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-3px, 2px);
      }

      .change .bar2 {
        opacity: 0;
      }

      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }

      .burger-menu-items#homepage {
        display: none;
      }

      .burger-menu-items#homepage ul {
        margin: 0;
        padding: 0;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        list-style-type: none;
        li {
          padding: 1%;
          text-align: left;

          & :hover {
            color: $light-pink;
          }

          span {
            display: block;
            color: $light-pink;
            font-family: $text-heading;
            position: relative;
            text-align: left;
          }

          a {
            position: relative;
            display: inline;
            color: $blue;
            font-family: $text-other;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 3rem;
            line-height: 1;
            text-decoration: none;
          }
        }
      }
    }
    //template for single project
    .template {
      background-color: #ffff;

      p {
        font-family: $text-font;
        color: $black;
        font-size: 1rem;
        width: 50%;
        position: relative;
        left: 25%;
        line-height: 30px;
        text-align: left;
      }

      .intro-text {
        padding: 5% 5%;
        min-height: 100vh;

        position: relative;

        h1 {
          font-family: $text-other;
          font-size: 2rem;
          color: $blue;
          text-align: left;
        }

        .subtitle {
          width: 100%;
          position: relative;
          margin: 5% 0;
          h3 {
            font-family: $text-other;
            font-size: 1.5rem;
            color: $blue;
            text-align: left;
            margin: 2% 0;
            opacity: 0.8;
          }
        }

        p {
          font-size: 1rem;
          width: 100%;
          left: 0;
        }

        a {
          font-family: "Mattone";
          text-transform: uppercase;
          font-size: 1rem;
          color: $hot-pink;
          text-decoration: none;
          padding-top: 10%;
          display: flex;
          text-align: left;
        }

        .view-more {
          @include buttonCtaArrow;
          @include animatedArrow("./images/icons/arrowIcondown.png");
        }
      }

      .intro-img {
        position: relative;
        background-color: $hot-pink;
        overflow: hidden;
        padding: 2% 0;

        .img-wrapper {
          width: 100%;
          position: relative;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .overview {
        display: flex;
        flex-direction: column;
        background-color: $light-pink;
        padding: 5% 5%;

        .intro {
          h5 {
            font-family: $text-other;
            color: $hot-pink;
            opacity: 0.5;
          }
          p {
            font-size: 1rem;
            left: 0;
            width: 100%;

            mark {
              background-color: $hot-pink;
              color: $off-white;
            }
          }
        }

        .specs {
          display: flex;
          flex-direction: column;
          padding: 2% 0;

          .single-spec {
            position: relative;
            width: 100%;
            padding: 2% 0;

            h5 {
              font-family: $text-other;
              color: $hot-pink;
              opacity: 0.5;
            }

            p {
              width: 100%;
              font-size: 1rem;
              left: 0;
              padding-right: 5%;
            }

            a {
              font-family: $text-font;
              font-size: 1rem;
              text-decoration: underline;
              color: $black;
            }

            .tech-stack {
              display: flex;
              flex-direction: row;

              div {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                object-fit: fill;
                margin: 0 2%;
                img {
                  width: 50px;
                  height: auto;
                }
              }
            }
          }
        }
      }

      .section {
        width: 100%;
        position: relative;
        background-color: #ffff;
        padding: 5% 5%;

        h1 {
          font-family: $text-other;
          color: $hot-pink;
          opacity: 0.5;
          text-align: left;
          font-size: 2rem;
          line-height: 56px;
          font-weight: 400;
          padding: 2% 0;
        }

        p {
          width: 100%;
          font-size: 1rem;
          left: 0;
          padding: 2% 0;

          .underline {
            text-decoration: underline;
          }
        }

        .img-wrapper {
          width: 100%;
          margin: 5% 0;

          img {
            width: 100%;
            height: auto;
          }

          video {
            width: 100%;
            height: auto;
          }
        }

        ul {
          list-style-type: none;
          margin: 0 5%;
          padding-bottom: 10%;
          li {
            font-family: $text-font;
            font-size: 1rem;
            color: $black;
            margin: 1% 0;
            line-height: 30px;
            text-align: left;

            &::before {
              content: "> ";
            }

            .img-wrapper {
              width: 80%;
              margin: 5% 0;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .section-img {
          position: relative;
          width: 100%;
          padding: 5% 0;
          margin-bottom: 2%;

          h1 {
            text-align: center;
            padding: 2% 0;
          }

          img {
            height: auto;
            width: 100%;
          }

          a {
            text-decoration: none;
            margin: 0;

            p {
              color: $black;
              opacity: 0.8;
              text-align: center;
              font-size: 0.8rem;
              margin: 0;
              padding: 0;
            }
          }
        }

        .tech-stack {
          .frontend,
          .backend {
            padding: 5% 0;
            h3 {
              font-size: 1.25rem;
              text-decoration: underline;
              font-family: $text-font;
            }

            mark {
              background-color: $hot-pink;
              color: $off-white;
            }

            .tech-icons {
              display: flex;
              flex-direction: row;
              justify-content: start;
              width: 100%;
              padding: 2% 0;

              img {
                width: 50px;
                height: auto;
              }
            }
          }
        }
      }

      .links {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 10% 0;

        .link-icon {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          margin-right: 2%;

          img {
            width: 100%;
            height: auto;
            opacity: 0.8;
          }
        }
      }
    }

    .breadcrumbs {
      text-align: center;

      p {
        font-family: $text-other;
        text-transform: lowercase;
        color: $black;
        font-size: 1rem;
        text-align: center;

        a {
          font-family: $text-other;
          text-transform: uppercase;
          color: $hot-pink;
          padding: 0 0.5%;
        }
      }
    }
    section#contacts-single-project {
      @include contactsSectionMobile;
      height: 40vh;

      .stream_text {
        display: none;
      }
    }
  }
}
