* {
  box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
  canvas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: black;
  }

  html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
  }
  .mobile {
    display: none;
  }
  text {
    width: 100%;
    height: 100%;
  }

  p {
    font-size: 50px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    color: black;
    font-weight: bolder;
    position: relative;
    margin-top: -60vh;
    margin-bottom: 0;
    letter-spacing: 0.0625em;
  }

  h1 {
    font-family: "IBM Plex Mono", monospace;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: absolute;
    font-family: "IBM Plex Mono", monospace;
    display: inline;
    font-weight: 400;
    font-style: normal;
  }

  .wrapper {
    position: absolute;
    height: 90%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.95);
    top: 10%;
    left: 10%;
  }

  .navigation {
    margin-top: 75vh;
    width: 100%;
    display: block;
    height: 200%;
    overflow: visible;
  }

  li {
    display: inline;
    color: #e9e2fb;
    letter-spacing: 0.0625em;
  }

  a {
    text-decoration: none;
    color: #e9e2fb;
    letter-spacing: 0.0625em;
    font-size: 1rem;
  }

  h2 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke: 0.1px #f9d6d6;
    -webkit-text-fill-color: black;
    margin-bottom: -45px;
    position: relative;
    margin-top: 0;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1rem;
    color: black;
    font-family: "IBM Plex Mono", monospace;
    position: relative;
    top: 30%;
  }

  sup {
    text-transform: uppercase;
  }

  #name {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    background-color: black;
    display: inline;
  }

  .name_container li {
    display: inline;
    color: fuchsia;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 350;
  }

  .navigation_container {
    height: auto;
    float: right;
    text-align: right;
    background-color: black;
    z-index: 11119999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .navigation_container a {
    font-size: 1rem;
  }

  .navigation_container li:nth-last-of-type(1) {
    text-align: left;
  }

  .landing_page {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    /* border-top: 1px solid white; */
  }

  section h1 {
    color: #fbf5e2;
    font-family: "IBM Plex Mono", monospace;
    font-size: 10rem;
  }

  .pages {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0 1%;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
    width: 100%;
  }

  .text li {
    display: inline-block;
    font-weight: 350;
    font-size: 6rem;
    color: rgb(237, 204, 248);
    opacity: 1;
    transition: all 0.8s ease-in-out;
    max-width: 2em;
  }

  .text.hidden li.spaced {
    padding-left: 0;
    position: sticky;
  }
  .text li.spaced {
    padding-left: 0.5em;
    position: sticky;
  }

  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
    position: sticky;
  }

  .pages h1 {
    font-size: 10rem;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    float: right;
    text-transform: uppercase;
    font-weight: 300;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 11111;
  }

  img {
    width: 50px;
    height: 50px;
  }

  /* CAROUSEL */

  .carousel {
    grid-column-start: 2;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 80%;
    width: auto;
    overflow: hidden;
    z-index: 1111;
  }

  .carousel img {
    width: auto;
    height: 100%;
    position: relative;
    display: block;
  }

  .carousel button {
    position: relative;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 100%;
  }

  .carousel span {
    color: #f9f9f9;
  }

  .carousel_btns {
    position: absolute;
    z-index: 1;
    padding-top: 0;
    float: right;
    right: 50%;
  }

  #fashion_text {
    color: fuchsia;
    font-size: 1rem;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    z-index: 1111;
    grid-column-start: 5;
    grid-column-end: span 7;
    grid-row-start: 5;
    grid-row-end: span 6;
    align-self: end;
    padding-right: 2%;
  }

  #fashion_heading {
    grid-column-start: 5;
    grid-column-end: span 7;
    grid-row-start: 2;
    grid-row-end: span 2;
    font-size: 10rem;
    padding-right: 2%;
    align-self: end;
  }

  .second_carousel {
    position: absolute;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 5;
    width: 35%;
    height: 100%;
  }

  .second_carousel img {
    width: auto;
    height: 120%;
    transform: translate(-30%, -20%);
  }

  /*---WEB DEV---*/

  button#web,
  button#journal {
    position: absolute;
    border: 1px solid #f9f9f9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    color: #e9e2fb;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    transform: translateY(250%);
    -ms-transform: translateY(-20%);
    right: 2%;
  }

  section#web_development > img {
    width: 50%;
    height: auto;
    position: absolute;
    transform: translateY(-20%);
  }

  .section-heading {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-heading > span {
    width: 70%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0;
    background-color: #f9f9f9;
  }

  /*---CONTACTS---*/

  #home-contacts {
    width: 100%;
    position: relative;
    top: 30%;
  }

  #home-contacts ul {
    width: 100%;
    padding: 1%;
    position: relative;
    text-align: right;
    margin-top: 50%;
  }

  section#contacts li {
    margin: 1%;
    color: #e9e2fb;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
  }

  section#contacts a {
    margin: 1%;
    color: #e9e2fb;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
  }

  .section-heading-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-heading-contacts span {
    width: 35%;
    height: 1px;
    position: relative;
    bottom: -50%;
    left: 0;
    background-color: #f9f9f9;
    transform: translateY(0);
    -ms-transform: translateY(10000%);
  }
  .email > p,
  .socials > p {
    color: #f5e2fb;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }

  #email_link,
  #social_link {
    font-size: 1rem;
    position: relative;
    font-weight: 100;
    color: #fbf5e2;
  }

  li#separator {
    font-size: 2rem;
  }

  .copyright {
    width: 100%;
    height: 20%;
    position: relative;
    background-color: black;
    padding: 2%;
  }

  .copyright p {
    font-size: 0.6rem;
    margin-top: 0;
    color: #fbf5e2;
    font-weight: 100;
  }

  .copyright a{
    color: #fbf5e2;
    font-size: 0.8rem;
  }

  #fashion {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 5% 20% auto 5% auto;
    grid-template-rows: 10% auto 5% 5% auto;
    justify-content: initial;
    padding-left: 2%;
    padding-right: 2%;
  }

  /*ABOUT*/
  section#about {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .section-about-content{
    display: flex;
    flex-direction: row;
  }

  .section-about-content > p {
    color: #f5e2fb;
    font-size: 1rem;
    font-weight: lighter;
    margin: 2% 10%;
    text-align: left;
    z-index: 1111;
    width: 50%;
    letter-spacing: 0.0625em;
    padding: 3%;
    border: 1px solid #f9f9f9;
  }

  section#about a {
    text-transform: uppercase;
  }

  .section-heading-about {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .section-heading-about > span {
    width: 60%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #f9f9f9;
  }

  img.about-img{
    width: 400px;
    height: auto;
    position: relative;
    left: 12%;
    z-index: 11111;
  }

  /*projects page*/

  .projects-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1%;
  }

  .nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1111111;
    border-bottom: 1px solid #fbf5e2;
    padding: 1%;
  }

  .nav > a {
    color: #fbf5e2;
    font-size: 1.5rem;
    font-family: "IBM Plex Mono", monospace;
    margin-top: 0;
    text-align: left;
    font-weight: 300;
    border: none;
    position: relative;
    left: 1;
  }

  .projects-wrapper > p {
    font-size: 1rem;
    color: #e9e2fb;
    margin-top: 0;
    text-align: right;
    padding-bottom: 5%;
  }

  .project > img {
    width: 50%;
    height: auto;
    position: absolute;
    left: 15%;
    /* box-shadow: 0 4px 8px 0 #e9e2fb, 0 6px 20px 0 #e9e2fb; */
    z-index: 11112;
  }

  .project > img#mobile {
    width: 30%;
    transform: translateX(50%);
    left: 10%;
    top: -15%;
  }

  h1 {
    color: #e9e2fb;
    font-size: 8rem;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    float: right;
    text-transform: uppercase;
    font-weight: 300;
    width: 100%;
    text-align: right;
    z-index: 11111;
  }

  h2 {
    position: absolute;
    left: 5%;
  }

  .project {
    width: 100%;
    margin: 5% 0;
    position: relative;
  }

  .project-text {
    width: 100%;
    border-bottom: 1px solid #f9f9f9;
  }

  .project-text > p {
    color: #f5e2fb;
    text-transform: none;
    font-size: 0.8rem;
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    text-align: right;
    z-index: 11111;
    position: relative;
    padding-bottom: 2%;
  }

  .project-text > h3 {
    color: #fbf5e2;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "IBM Plex Mono", monospace;
    text-align: right;
    margin: 0;
    font-weight: normal;
    z-index: 111111;
    position: relative;
    padding-bottom: 1%;
  }

  .project > h1 {
    color: #f9f9f9;
    opacity: 0.5;
    font-size: 10rem;
    font-family: "IBM Plex Mono", monospace;
    text-align: left;
    position: relative;
    left: 2%;
  }

  .project > button {
    position: relative;
    border: 1px solid #f9f9f9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    color: #e9e2fb;
    font-family: "IBM Plex Mono", monospace;
    float: right;
    margin: 2%;
    padding: 1%;
    visibility: hidden;
  }

  .project-text > ul {
    width: 90%;
    border-bottom: 1px solid #f9f9f9;
    text-align: right;
    padding: 1% 2%;
  }

  .project-text > ul:nth-of-type(2) {
    border-bottom: 0;
    margin-top: 3%;
  }

  .project-text img {
    height: 50px;
    width: auto;
  }

  div#project-contacts > h1 {
    font-family: "IBM Plex Mono", monospace;
  }

  div#project-contacts {
    margin-top: 10%;
    height: auto;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 111111111;
  }

  div#project-contacts ul {
    left: 50%;
    transform: translateX(-50%);
  }

  div#project-contacts li {
    font-size: 2rem;
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    color: #e9e2fb;
  }

  div#project-contacts {
    padding: 0 1%;
  }

  a {
    cursor: pointer;
    text-transform: lowercase;
    font-family: "IBM Plex Mono", monospace;
  }

  /*project page*/
  .project-page {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .single-project-text {
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .single-project-text > h1 {
    font-size: 6rem;
    position: absolute;
    color: white;
  }

  .single-project-text > hr {
    height: 1px;
    background-color: #f9f9f9;
    width: 50%;
    position: relative;
    top: 7%;
    float: left;
  }

  .single-project-text > p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    color: #e9e2fb;
    margin-top: 0;
  }

  .project-content {
    width: 100%;
    display: grid;
    grid-template-columns: 60% auto;
  }

  .project-content > img {
    width: 60%;
    height: auto;
  }

  .project-content > h3 {
    color: #f5e2fb;
    font-size: 0.8rem;
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
  }

  #burger-menu-container,
  .mobile-name,
  .burger-menu-items,
  .mobile-project-text, #mobile-name {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
  }
  h1 {
    font-size: 2rem;
    font-family: "IBM Plex Mono", monospace;
    color: #fbf5e2;
    text-transform: lowercase;
    margin: 0;
    position: relative;
    text-align: center;
  }
  h3 {
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    color: #f9f9f9;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    text-align: center;
    padding-bottom: 2%;
  }
  a {
    text-decoration: none;
    color: #f9d6d6;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    text-align: center;
  }

  .landing_page{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top:5%;
  }


  .landing_page h1{
    font-weight: 100;
    font-size: 2.5rem;
    padding: 5% 0;
    position: sticky;
    top:0;
    background-color: black;
    z-index: 11111111;
  }


  canvas, .wrapper,
  .mobile,
  .pages,
  .contacts,
  .copyright,
  .nav,
  .project-text {
    display: none;
  }

  #burger-menu-container {
    display: inline-block;
    cursor: pointer;
    left: 5%;
    top: 5%;
    position: absolute;
    z-index: 119;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 1px;
    background-color: #fbf5e2;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 2px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .burger-menu-items,
  .burger-menu-items-projects {
    display: none;
  }
  .burger-menu-items li {
    margin: 0;
    padding: 10%;
    text-align: center;
  }
  .burger-menu-items ul {
    margin: 0;
    padding: 0;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
  .burger-menu-items a {
    left: 0;
    display: inline;
  }

  .burger-menu-items#homepage{
    display: inline;
  }

  .burger-menu-items#homepage ul{
    top:0;
    left:0;
    position: relative;
    transform: none;
  }

  .burger-menu-items#homepage li{
   padding:5%;
   text-align: center;
  }

  .mobile-contacts ul {
    margin: 0;
    padding: 0;
    padding-top: 20%;
  }

  .mobile-contacts li,
  a,
  img {
    width: 50px;
    height: 50px;
    margin: 5% 0;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .mobile-about-container {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/photo-min.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 50% 20%;
    padding-top: 5%;
  }
  .mobile-about-container a {
    left: 0;
    display: inline;
  }
  p {
    margin: 0 5%;
    text-align: center;
    color: #fbf5e2;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.8rem;
    letter-spacing: 0.0625em;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
  }

  .projects-wrapper,
  .mobile-contacts {
    width: 100vw;
    padding: 5% 0;
  }
  .projects-wrapper p {
    top: 0;
    transform: none;
  }
  .project h1,
  button {
    display: none;
  }
  .project img {
    width: 300px;
    height: auto;
    margin: 0;
  }
  .mobile-project-text img {
    width: 50px;
  }
  .mobile-project-text ul {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 1% 0;
    border-top: 1px solid #f5e2fb;
    border-bottom: 1px solid #f5e2fb;
  }
  .mobile-project-text li {
    display: inline-block;
  }
  .mobile-project-text a {
    left: 0;
    display: inline;
  }
  .mobile-project-text img {
    left: 60%;
    transform: none;
  }

  .project {
    padding-top: 10%;
  }
}
